* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --darker-main-color: #1F2937;
}

/* Header part */

#header {
  background-color: var(--darker-main-color);
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#header div a {
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  display: flex;
}

#header div ul li a {
  text-decoration: none;
  color: #E5E7EB;
}

/* Footer part */

footer {
  display: flex;
  justify-content: center;
  background-color: var(--darker-main-color);
  color: #E5E7EB;
  padding: 25px 0;
  margin-top: 100px;
}

  /* ---------To the top---------- */
#to-top-btn {
  position: fixed;
  bottom: 5%;
  left:3%;
  opacity: 0.5;
}
#to-top-btn:hover {
  opacity: 1;
}
#to-top-btn svg {
  width: 35px;
  height: 35px;
  stroke: grey;
  fill:grey;
}
#to-top-btn:hover svg {
  stroke: var(--darker-main-color);
  stroke: var(--darker-main-color);
}

/* desktop version */

@media screen and (min-width: 841px) {
  .container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }

    /* Header part */

  #logo {
    height: 25px;
    margin-right: 5px;
  }
  
  #header div a strong {
    color: #F9FAF8;
    flex: 1;
    font-size: 24px;
    font-weight: 900; 
    min-width: fit-content;
  }
  
  #header div ul {
    display: flex;
    flex: 3;
    font-size: 18px;
    justify-content: end;
  }
  
  #header div ul li {
    cursor: pointer;
    margin-left: 25px;
  }
}

/* mobile portrait */

@media screen and (max-width: 840px) {
  .container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }
  
  /* Header part */
  
  #logo {
    height: 20px;
    margin-right: 5px;
  }

  #header div a strong {
    color: #F9FAF8;
    flex: 1;
    font-size: 18px;
    font-weight: 900; 
    min-width: fit-content;
  }
  
  #header div ul {
    display: flex;
    flex: 3;
    font-size: 14px;
    justify-content: end;
  }
  
  #header div ul li {
    cursor: pointer;
    margin-left: 12px;
  }
}
