@media screen and (min-width: 841px) {
    .contents {
        background-color: #1F2937;
        color: white;
        padding: 30px 0;
    }

    h1 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    section p {
        font-size: 20px;
    }

    .p-contents {
        border-top: 1px dotted white;
        column-gap: 50px;
        display: flex;
        flex-direction: row;
        padding: 10px 0;
    }

    .p-contents ul li {
        font-size: 15px;
        margin-bottom: 8px;
    }

    .p-contents ul li::before {
        content: '\2736';
    }

    .p-contents ul li:hover {
        color: rgb(33, 148, 182);
        text-decoration: underline;
    }

    .p-contents a {
        color: inherit;
        text-decoration: none;
    }

    #gallery {
        color: #1F2937;
    }

    #gallery li {
        border-bottom: 1px dotted grey;
        height: 400px;
    }

    #gallery li:nth-child(odd) {
        background-color: rgba(225, 225, 225, 0.3)
    }

    #gallery li:nth-child(even) {
        background-color: rgba(225, 225, 225, 0.5)
    }

    #gallery img {
        border: 4px solid #966F33;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
        max-height: 300px;
        max-width: 300px;
    }

    #gallery img:hover {
        cursor: zoom-in;
        transform: scale(1.8);
        transition: 0.5s;
    }

    figure {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
    }

    #gallery li:nth-child(even) figure {
        flex-direction: row-reverse;
    }

    figcaption {
        background-color: #fff;
        border: 1px solid lightgrey;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
        padding: 20px;
        text-align: center;
    }

    figcaption a {
        color: inherit;
        font-style: italic;
    }

    figcaption a:hover {
        color: rgb(33, 148, 182);
    }
}
@media screen and (max-width: 840px) {
    .contents {
        background-color: #1F2937;
        color: white;
        padding: 30px 0;
    }

    h1 {
        font-size: 27px;
        margin-bottom: 20px;
    }

    section p {
        font-size: 22px;
    }

    .p-contents {
        border-top: 1px dotted white;
        column-gap: 100px;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }

    .p-contents ul li {
        font-size: 17px;
        margin-bottom: 8px;
    }

    .p-contents ul li::before {
        content: '\2736';
    }

    .p-contents ul li:hover {
        color: rgb(33, 148, 182);
        text-decoration: underline;
    }

    .p-contents a {
        color: inherit;
        text-decoration: none;
    }

    #gallery {
        color: #1F2937;
    }

    #gallery li {
        border-bottom: 1px dotted grey;
        padding: 50px 0;
    }

    #gallery li:nth-child(odd) {
        background-color: rgba(225, 225, 225, 0.3)
    }

    #gallery li:nth-child(even) {
        background-color: rgba(225, 225, 225, 0.5)
    }

    #gallery img {
        border: 4px solid #966F33;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
        max-height: 80vw;
        max-width: 80vw;
    }

    figure {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    figcaption {
        background-color: #fff;
        border: 1px solid lightgrey;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
        margin-top: 10px;
        padding: 20px;
        text-align: center;
    }

    figcaption a {
        color: inherit;
        font-style: italic;
    }

    figcaption a:hover {
        color: rgb(33, 148, 182);
    }
}